.custom-dropdown{
    position: initial !important;
}

.custom-dropdown-show{
    width: 100% !important;
}

header .navbar .dropdown-menu:before{
    bottom: 0 !important;
}

.child-nav{
    margin-left: 6%;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

body{
    color: black !important;
    font-weight: normal !important;
}

.btn-social{
    padding: 5px 10px !important;
}

.custom-image{
    background-repeat: no-repeat !important;
    background-size: 100% !important;
}

.custom-text{
    height: 100% !important;
}

.custom-nav{
    color: black !important;
    font-weight: bold !important;
    font-size: 15px !important;
}
