.custom-dropdown{
    position: initial !important;
}

.custom-dropdown-show{
    width: 100% !important;
}

header .navbar .dropdown-menu:before{
    bottom: 0 !important;
}

.child-nav{
    margin-left: 6%;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
