.error-signal{
    border: solid red !important;
}
.image-view-in-form{
    width: 100% !important;
    height: 100% !important;
}

#ui-id-1{
    background-color: white;
    width: 20% !important;
    cursor: pointer !important;
}
#ui-id-1 li:hover{
    background-color: #f6f6f6;
    width: 70% !important;
}
